.con {
    background-image: url(./img/ShinyOverlay.svg);

}

@media (max-width: 520px) {
    .x {
        font-size: small !important;
    }
}

@media (max-width: 575px) {
    .b {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 345px) {
    .x {
        font-size: 10px !important;
    }
}